* {
    margin: 0px;
}

.open-sans-normal {
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal;
    font-variation-settings:
        "wdth" 100;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0px 200px;
    padding-top: 50px;
}

.nav-title {
    font-family: Open Sans;
    font-size: 42px;
    font-weight: 800;
    line-height: 100%;
    letter-spacing: 0%;
    text-align: left;
}

#i {
    color: rgba(253, 110, 10, 1);
}

nav ul li {
    list-style: none;
    margin-right: 50px;
}

nav ul li>a {
    text-decoration: none;
    color: rgba(71, 71, 71, 1);
    font-size: 18px;
    font-weight: 400;
    line-height: 100%;
    letter-spacing: 0%;
    text-align: left;
}

.primary-button {
    background-color: rgba(253, 110, 10, 1);
    color: white;
    padding: 18px 35px;
    border-radius: 3px;
    border: none;
    font-weight: 700;
    font-size: 18px;
}

.dark-1 {
    color: rgba(71, 71, 71, 1);
}

.dark-2 {
    color: rgba(117, 117, 117, 1);
}

nav ul {
    display: flex;
    align-items: center;

}

.banner {
    display: flex;
    justify-content: space-between;
    margin: 30px 30px 130px 200px;
}

.banner-greet {
    color: rgba(71, 71, 71, 1);

    font-family: Open Sans;
    font-size: 42px;
    font-weight: 600;
    line-height: 100%;
    letter-spacing: 0%;
    text-align: left;
    margin-bottom: 10px;
}

.banner-title {
    color: rgba(24, 24, 24, 1);

    font-family: Open Sans;
    font-size: 76px;
    font-weight: 700;
    line-height: 100%;
    letter-spacing: 0%;
    text-align: left;
    margin-bottom: 20px;

}

.banner-description {
    color: rgba(117, 117, 117, 1);

    font-family: Open Sans;
    font-size: 16px;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 0%;
    text-align: left;
    margin-bottom: 30px;

}

.banner-dp {
    width: 450px;
}

.banner-content {
    max-width: 700px;
    margin: 185px 0px;
}

.header {
    background-color: rgba(255, 248, 243, 1);
    ;
    background-image: url(/Assets/developer.png), url(/Assets/header_bg.png);
    background-repeat: no-repeat;
    background-position: bottom left, bottom right;
    margin-left: 10px;

}

.section-title {
    color: rgba(24, 24, 24, 1);
    font-family: Open Sans;
    font-size: 33px;
    font-weight: 700;
    line-height: 100%;
    letter-spacing: 0%;
    text-align: center;
    margin-bottom: 30px;
}

.section-description {
    color: rgba(117, 117, 117, 1);
    font-family: Open Sans;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 0%;
    text-align: center;
}

.about-me {
    background-color: #FFF8F3;
    padding: 130px 150px;
}

main {
    max-width: 1140px;
    margin: 0 auto;
}

.about-item {
    color: rgba(117, 117, 117, 1);
    font-size: 20px;
    line-height: 30px;
    text-align: center;
    display: flex;
    justify-content: center;
    margin-top: 30px;
    
}
.item-info{
    margin-right: 30px;

}

.item-title {

}

.item-description {
    color : rgba(24, 24, 24, 1);
    font-weight: 600;
}
.what-i-do{
    margin : 130px 0px 50px;

}
.skill-container{
    display: flex;
    gap: 24px;
    margin-top: 50px;
}
.skill{
    padding: 30px ;
    box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.06);
    background: rgba(255, 255, 255, 1);
    border-radius: 5px;
}
main section{
    margin-top: 130px;
    margin-bottom: 130px;
}
.skill-title{
    margin: 30px 0px;
    font-size: 20px;
}
.skill-description{
    color: rgba(117, 117, 117, 1);
    font-size: 16px;
    line-height: 30px;
    display: flex;
    justify-content: center;
    margin-top: 30px;
    
}
.resume-container{
    display: flex;
    gap: 24px;
    margin-top: 113px;
}
.experience{
    border-bottom: 1px solid  rgba(209, 209, 209, 1);
}
.resume-col-title{
    color: rgba(71, 71, 71, 1);
    font-size: 35px;
}
.experience-title{
    color: rgba(71, 71, 71, 1);
    font-size: 25px;
    margin-top: 30px;
}
.experience-subtitle{
    color: rgba(117, 117, 117, 1);
    margin-top: 10px;
    font-size: 20px;
}
.experience-description{
    color: rgba(117, 117, 117, 1);
    margin: 20px 0px 25px;

}